<h2>Upload a new file:</h2>  
<%= form_tag upload_path, :method => "post", :multipart => true do %>  
    <div class="control-group">
        <div class="controls">
        <%= file_field_tag "boxfile" %>
        </div>
    </div>  
    <div class="form-actions">
        <%= submit_tag "Upload", :class => 'btn btn-primary' %>
    </div>
<% end %>  
