<div class="page-header">
    <h1>Your ShareBox</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Filename</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @userfiles.each do |uf| %>
        <tr>
            <td><%= uf.key.sub(current_user.folder + '/','') %></td>
            <td>
            <%= link_to "Download", download_url_for(uf.key), :class => 'btn btn-mini' %>
            <%= link_to "Delete", "/boxfile/delete/?file_id=" + uf.key, 
                        :confirm => "Are you sure you want to delete?", :class => 'btn btn-mini btn-danger' %>
            </td>
                                        
        </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Upload a file", add_path, :class => 'btn btn-primary' %>


